{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

      <!-- 'action' is the URL that the form submits to. We are leaving it 'blank'
      because we want it to submit to the same URL -->
			<form action="" method="POST">
				{% csrf_token %}
        {{ form.management_form }}
				{% for field in form %}
					{{field}}
					<hr>
				{% endfor %}

				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}
